<header>
  <p><a href='/home'>Home</a></p>
  <p><a href='/news'>News</a></p>
  <p><a href='/about'>About</a></p>
   <p><a href='/projects'>Projects page</a></p>
  <p><a href='/index.html'>Index Page</a></p>
  <p><a href='/help.html'>Help page</a></p>
  <h1>{{pageTitle}}</h1>
  
</header>