<header>
  <h1>{{pageTitle}}</h1>
  <p><a href='/home'>Home</a></p>
  <p><a href='/news'>News</a></p>
  <p><a href='/about'>About</a></p>
  <p><a href='/index.html'>Index Page</a></p>
  <p><a href='/help.html'>Help page</a></p>
</header>