<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../public/css/style.css">
    <title>{{pageTitle}}</title>
  </head>
  <body style='background: red;
  color: white;'>
    <h1>404 PAGE</h1>
    <h2>"{{address}}" not found, Continue to <a href='/home'>Home page</a></h2>
  
    {{> footer }}
  </body>
</html>