<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../public/css/style.css">
    <title>{{pageTitle}}</title>
  </head>
  <body style='background: #F5F83C;
  color: #120606;'>
    
    <h1>{{pageTitle}}</h1>
    <p>{{message}}</p>
    
    {{> footer }}
  </body>
</html>