body {
  padding: 0;
  margin: 0;
  text-align: center;
  background: #987575;
  color: #F2E05A;
}

header  p {
  background: #89F6E7;
  display: inline-block;
  padding: 5px 10px ;
  border-radius: 0 0 5px 5px;
  border-bottom: 2px blue solid;
}
header a {
  text-decoration: none;
}

ul.nav {
  overflow: hidden;
  margin: 10px 0;
  padding:0;
}
ul.nav li{
  list-style: none;
  float:left; 
  margin: 0 5px;
}
ul.nav a{
  font-size: 0.7em;
  color: white;
  text-decoration: none;
  border-left: 1px solid white;
  border-top: 1px solid white;
  padding:5px;
}

.port {
  background: ;
  text-shadow: 5px 3px #5D1616;
  font-size: 3em;
}

ul.about {
  list-style: none;
  background: #066A97;
  width: 200px;
  margin: 0 auto;
  padding: 10px 20px;
  border-top: 2px solid #89F6E7;
  border-bottom: 2px solid #89F6E7;
}